*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p{
  line-height: 1.4;
  color: #585858;
}

.container{
  max-width: 1000px;
  margin: auto;
}

header{
  padding: 20px 0;
  border: 1px solid #a09c9c;
}

header .content{
display: flex;
justify-content: space-between;
align-items: center;
}

header .content ul{
  list-style-type: none;
  display: flex;
}

header .content ul li{
 margin-left: 10px;
}

.t-box{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-box span{
  color: #050505;
}
.t-box small{
  color: #626161;
}

section.cover {
  margin-top: 26px;
}
section.cover img{
width: 100%;
}
section.cover p.caption{
 color: #777777;
 margin-top: 20px;
 font-size: 16px;
}
section.cover p.dots{
 font-size: 30px;
 margin: 45px auto;
 display: flex;
 justify-content: center;
}

section.box-info{
  margin-bottom: 50px;
}
section.box-info h4{
 margin-bottom: 14px;
}

footer{
  background-color: #EEEEEE;
  padding: 20px 0;
}

footer .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img{
  width: 20px;
}